body {
  margin: 0;
  background-image: url(../img/fonChoose.jpg);
  background-size: cover;
  color: #ebdb83;
}
#margin {
  height: 2%;
}
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
#help {
  font-family: Arial;
  font-weight: 700;
  padding: .9em 2em;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid white;
  border-radius: 70px;
  position: absolute;
  margin: 70px 0 0 100px;
  text-align: center;
  transition: 0.7s;
}
#help:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#help:active {
  background-color: white;
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}
#name {
  text-align: center;
}
#elements {
  margin-top: 50px;
  text-align: center;
}
.text {
  font-size: 30px;
  margin-top: 1%;
}
.wrapper {
  font-style: italic;
  width: 230px;
  height: 230px;
  color: white;
  vertical-align: middle;
  background: #3b3b3b;
  display: inline-block;
  border-radius: 10px;
  margin: 0 2% 0 2%;
  Box-shadow:0px 4px 0px #ba9e00,0px -4px 0px #ba9e00,4px 0px 0px #ba9e00,-4px 0px 0px #ba9e00;
}
.picture {
  height: 70%;
  margin-top: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#fire {
  background-image: url(../img/fire.png);
}
#water {
  background-image: url(../img/water.png);
}
#air {
  background-image: url(../img/air.png);
}
#earth {
  background-image: url(../img/earth.png);
}
#life {
  background-image: url(../img/life.png);
}
#death {
  background-image: url(../img/skull.png);
}
#spear {
  background-image: url(../img/spear.png);
}
#shild {
  background-image: url(../img/shild.png);
}
#crown {
  background-image: url(../img/crown.png);
}
#source {
  background-image: url(../img/source.png);
}
#sphere {
  background-image: url(../img/sphere.png);
}
#stamp {
  background-image: url(../img/stamp.png);
}
#key {
  background-image: url(../img/key.png);
}
#flow {
  background-image: url(../img/flow.png);
}
#power {
  background-image: url(../img/power.png);
}
#forms {
  margin: 50px 0 50px 0;
  text-align: center;

}
.wrapperForm {
  font-style: italic;
  width: 200px;
  height: 200px;
  color: white;
  vertical-align: middle;
  background: #3b3b3b;
  display: inline-block;
  border-radius: 10px;
  margin: 0 1% 2% 1%;
  Box-shadow:0px 4px 0px #ba9e00,0px -4px 0px #ba9e00, 4px 0px 0px #ba9e00,-4px 0px 0px #ba9e00;
}
#button {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.startGame {
  display: inline-block;
  background-color: rgba(255,255,255,.1);
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.7s;
  }
.startGame:hover {
    background: rgba(255,255,255,.2);
  }
.startGame:active {
    background: white;
  }
.highlight
{
  background: #595959;
  Box-shadow:0px 3px 0px #e3c100,0px -3px 0px #e3c100,3px 0px 0px #e3c100,-3px 0px 0px #e3c100;
}
